body{
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	margin-top: 50px;
	margin-left: -900px;
	justify-content: center;
	font-family: sans-serif;
	font-family: Helvetica;
    font-size: 20px;
}
tr{
	display: flex;
	justify-content:space-around;
	font-size: 24px;
}
input[type="radio"] {
	margin-left: 10px;
}
button{
	height: 60px;
	width: 250px;
	border: 2px solid black;
	font-family: Helvetica;
    font-size:22px;
	background-color: #cbfcae;
}